body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}
h1{
    font-size: 65px;

}
h2{
    font-size: 40px;
}
p{
    color: black;
    font-size: 20px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 35%;
    float: left;
    margin-left: 5%;
    padding: 3%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.about-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.lastet-heading{
    text-align: center;
}
.lastet-image{
    width: 100%;
}
.single{
    box-shadow: 5px 5px 20px gray;
    border-radius: 15px;
    width: 20%;
    height: 350px
}
.final-iamge{
height: 150px;
width: 950px;
margin-left: 250px;
}
.container{
position: relative;
font-family: Arial, Helvetica, sans-serif;
}
.text-block{
  position: absolute;
  bottom: 300px;
  right: 850px;
  color: white;
}
